body {
  font-family: 'Montserrat', sans-serif;
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

.container-fluid {
  padding: 3%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem 0;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
}

/* Download Buttons */

.dl-buttons {
  margin: 5% 3% 5% 0;
}

/* Title image */

.phone-img {
  width: 60%;
  -webkit-transfor: rotate(25deg);
  transform: rotate(25deg);
}

/* Features */

#features {
  padding: 7%;
}

.features-each {
    text-align: center;
    padding: 4%;
}

.icon-style {
  color: #ef8172;
  padding-bottom: 10px;
}

.icon-style:hover {
  color: #ff4c68;
}

.features-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
}

/* Testimonial section */

#testimonials {
  padding: 7% 0;
  text-align: center;
  background-color: #ef8172;
  color: #fff
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 0 15%;
}

/* Price section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}
